<h2>商品一覧</h2>
<table>
  <tr>
    <th>商品名</th>

  </tr>

<%=@items.each do |item| %>
  <tr>
    <td><%=image_tag item.get_image(100,100) %></td>
    <td><%=item.name %></td>
    <td>￥<%=item.add_tax_price.to_s(:dalimited) %></td>
  </tr>
<% end %>
</table>